        <div class="modal__body">
          <form action="{{ url_for('main.home') }}" method="post" autocomplete="off" >
            
            <h1 class="text-center text-4xl">{{ data.form_reserva.title }} </h1>
            
              {{ form.hidden_tag() }}

            <div class="form__group--row ">
              <div class="form__group--col">
                {{ form.fullname.label }}
                {{ form.fullname() }}
              </div>
            </div>

            <div class="form__group--row ">
              <div class="form__group--col">
                {{ form.phone.label }}
                {{ form.phone() }}
              </div>
            </div>

            <div class="form__group--row ">
              <div class="form__group--col">
                {{ form.email.label }}
                {{ form.email() }}
              </div>
            </div>


            <div class="flex justify-between w-full ">
              <div class=" flex flex-col  ">
                {{ form.check_in.label }}
                <div class="custom_date ">
                  {{ form.check_in() }}
                  <span class="absolute right-2 top-2 btn_pick bg-neutral text-red text-xl rounded text-center cursor-pointer "> <i class="fas fa-calendar-alt  text-red "></i> </span>
                </div>
              </div>

              <div class="flex flex-col   ">
                {{ form.check_out.label }}
                <div class="custom_date ">
                  {{ form.check_out() }}
                  <span class="absolute right-2 top-2 btn_pick bg-neutral text-red text-xl  rounded text-center cursor-pointer "> <i class="fas fa-calendar-alt  text-red "></i> </span>
                </div>
              </div>

            </div>

            <div class="form__group--1x3 ">
              <div class="custom_number">
                {{ form.rooms.label }}
                {{ form.rooms(class="form-control") }}
              </div>
              <div class="custom_number">
                {{ form.number_adults.label }}
                {{ form.number_adults() }}
              </div>
              <div class="custom_number">
                {{ form.number_children.label }}
                {{ form.number_children() }}
              </div>
            </div>


            <div class="form__group--row ">
              <div class="form__group--col">
                {{ form.bed.label }}
                {{ form.bed() }}
              </div>
            </div>

            <div class="form__group--submit ">
              {{ form.submit() }}
            </div>

          </form> 
        </div>