ALTER TABLE employees ADD COLUMN hourly_rate_currency VARCHAR(3) DEFAULT 'USD' AFTER hourly_rate;
ALTER TABLE employees ADD COLUMN overtime_rate_currency VARCHAR(3) DEFAULT 'USD' AFTER overtime_rate;
