CREATE TABLE IF NOT EXISTS booking_extensions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    booking_id INT NOT NULL,
    original_checkout DATE NOT NULL,
    new_checkout DATE NOT NULL,
    additional_nights INT NOT NULL,
    extension_cost DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    payment_method VARCHAR(50),
    payment_status ENUM('paid', 'pending', 'overdue') DEFAULT 'pending',
    payment_due_date DATE,
    payment_notes TEXT,
    discount_type VARCHAR(20),
    discount_amount DECIMAL(10,2) DEFAULT 0.00,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    created_by INT,
    FOREIGN KEY (booking_id) REFERENCES bookings(id) ON DELETE CASCADE
);
