{% include 'partials/header.html' %}

  <!-- section 1 showcase -->
  <div class="showcase font-baries relative ">

    {% include 'partials/navbar.html' %}

    <div class="md:relative md:min-h-screen flex flex-col w-full  px-4 pt-32 pb-32  text-white space-y-8 ">

      <!-- showcase logo -->
      <div class="md:hidden flex flex-col items-center space-y-2 ">
        <a href="/" class="">  <img src="{{ url_for('static', filename=data.logo) }}" alt="Samay Wasi Pisac" class="h-24 "> </a>
        <h1 class="text-4xl">{{ data.page_title }} </h1>    

        <a href="{{ data.footer.contact_whatsapp }}" class=" bg-white rounded-full p-2 text-gray flex items-center space-x-2 ">
          <div  class=" border-0 w-14 h-14 rounded-full drop-shadow-lg bg-wsp text-white  items-center justify-center flex">
            <i class="fa-brands fa-whatsapp fa-3x"></i>
          </div>
          <h2 class="text-gray text-2xl font-bold">{{ data.footer.contact_phone }}</h2>       
        </a>
 
      </div>

      <!-- form -->
      <div class=" md:absolute md:top-24 md:right-44 md:w-96 md:p-2  rounded-2xl bg-primaryLight bg-opacity-80 drop-shadow-md justify-end w-full">
        {% include 'partials/_form.html' %}

      </div>

    </div>
  </div>

  <!-- section 2 welcome -->
  <div class="font-baries w-full mx-auto grid md:grid-cols-12 gap-4 lg:px-32 lg:py-24  sm:py-16 sm:px-4 ">

    <div class="md:col-span-6 text-gray ">
      <div class="flex flex-col  w-full py-10 px-4 ">
        <h1 class="lg:text-6xl text-4xl text-gray font-bold p-4">{{ data.section_2.title }} </h1>

        <div class="md:hidden  py-10 ">
          <img src="{{ url_for('static', filename=data.section_2.img1) }}" alt="{{ data.page_title }}" class="mx-auto h-64 object-cover w-full rounded">  
        </div>
  
        <p class="p-4 md:py-14 lg:text-xl text-lg text-gray">{{ data.section_2.content }}</p>

        <a href="/reservations" class="btn__reserve"> {{ data.form_reserva.button_book }}</a>

      </div>
    </div>

    <div class="hidden md:block md:col-span-6">
      <div class="mx-auto  h-44 md:h-full">
        <img src="{{ url_for('static', filename=data.section_2.img1) }}" alt="{{ data.page_title }}" class="object-cover h-44 md:h-full rounded ">
      </div>
  
    </div>

  </div>


  <!-- section 3 green space -->
  <div class="font-baries w-full mx-auto grid md:grid-cols-12 gap-4 bg-neutral lg:px-32 lg:py-24 sm:py-16 sm:px-4 ">

    <div class="hidden md:block md:col-span-6">

      <div class="md:w-full flex space-x-8">
        
        <div class="w-1/2 flex-col space-y-8 lg:flex md:hidden ">

          <div class="mx-auto  md:h-full ">
            <img src="{{ url_for('static', filename=data.section_3.green_space_1) }}" alt="{{ data.page_title }}" class="object-cover  md:h-full rounded">
          </div>

          <div class="mx-auto  md:h-full">
            <img src="{{ url_for('static', filename=data.section_3.green_space_3) }}" alt="{{ data.page_title }}" class="object-cover  md:h-full rounded">
          </div>

        </div>

        <div class="lg:w-1/2 flex-col space-y-8 lg:flex  md:w-full ">
          <img src="{{ url_for('static', filename=data.section_3.green_space_2) }}" alt="{{ data.page_title }}" class="object-cover md:w-full md:h-full rounded">

        </div>

      </div>

  
    </div>

    <div id="about" class="md:col-span-6">
      <div class="relative flex flex-col space-y-2 w-full py-10 px-4  ">
          
          <!-- floating image -->
        <!-- <img src="../static/img/flower.png" alt="{{ data.page_title }}" class="hidden lg:block absolute bottom-32 right-16 h-44 w-32 object-contain w-full rounded">   -->

        <h1 class=" lg:text-6xl text-4xl text-gray font-bold p-4"> {{ data.section_3.title }}</h1>

        <div class="p-4  lg:text-xl text-lg text-gray">
          <p>{{ data.section_3.content1 }}</p>
        </div>

        <div class="md:hidden py-8 ">
          <img src="{{ url_for('static', filename=data.section_3.green_space_2) }}" alt="{{ data.page_title }}" class="mx-auto h-64 object-cover w-full rounded">  
        </div>
  
        <div class="p-4 md:w-3/4  lg:text-xl text-lg text-gray">
          <p>{{ data.section_3.content2 }}</p>
        </div>

        <a href="/reservations" class="btn__reserve"> {{ data.form_reserva.button_book }}</a>

      </div>
    </div>
  </div>


  <!-- section 4 rooms  -->
  <div class="relative font-baries w-full mx-auto grid md:grid-cols-12 gap-4 lg:px-32 lg:py-24  sm:py-16 sm:px-4  ">

    <div class=" hidden md:flex absolute top-2 left-24  w-fit">
      <h1 class=" lg:text-6xl text-4xl text-gray font-bold p-4 ">{{ data.section_4.title }}</h1>
    </div>  


    <div class="md:col-span-6">
      <div class="flex flex-col  w-full py-10 px-8 ">
        <h1 class="flex md:hidden lg:text-6xl text-4xl text-gray font-bold p-4 ">{{ data.section_4.title }}</h1>

        <div class=" pb-10 ">
          <img src="{{ url_for('static', filename=data.section_4.matrimonial_queen) }}" alt="{{ data.page_title }}" class="mx-auto md:h-96 h-64  rounded object-cover w-full ">  
        </div>
        <h3 class="text-xl md:text-2xl text-gray font-bold">{{ data.section_4.title1 }}</h3>
        <p class="p-4 md:py-12 lg:text-xl text-lg text-gray">{{ data.section_4.content1 }}</p>
        <a href="/reservations" class="btn__reserve--sm"> {{ data.form_reserva.button_book }}</a>

      </div>
    </div>

    <div class=" md:col-span-6">

      <div class="flex flex-col  w-full py-10 px-8 ">
        <div class=" pb-10 ">
          <img src="{{ url_for('static', filename=data.section_4.matrimonial_double) }}" alt="{{ data.page_title }}" class="mx-auto md:h-96 h-64 rounded  object-cover w-full ">  
        </div>
        <h3 class="text-xl md:text-2xl text-gray font-bold">{{ data.section_4.title2 }}</h3>
        <p class="p-4 md:py-12 lg:text-xl text-lg text-gray">{{ data.section_4.content2 }}</p>
        <a href="/reservations" class="btn__reserve--sm"> {{ data.form_reserva.button_book }}</a>
      </div>

    </div>

  </div>

  <!-- section 5 rooms  -->
  <div class="relative font-baries w-full mx-auto grid md:grid-cols-12 gap-4 lg:px-32 lg:py-24  sm:py-16 sm:px-4 bg-neutral">

    <div class="md:col-span-6">
      <div class="flex flex-col  w-full py-10 px-8 ">

        <div class=" pb-10 ">
          <img src="{{ url_for('static', filename=data.section_5.premium_2_beds) }}" alt="{{ data.page_title }}" class="mx-auto md:h-96 h-64  rounded object-cover w-full ">  
        </div>
        <h3 class="text-xl md:text-2xl text-gray font-bold">{{ data.section_5.title1 }}</h3>
        <p class="p-4 md:py-12 lg:text-xl text-lg text-gray">{{ data.section_5.content1 }}</p>
        <a href="/reservations" class="btn__reserve--sm"> {{ data.form_reserva.button_book }}</a>

      </div>
    </div>

    <div class=" md:col-span-6">

      <div class="flex flex-col  w-full py-10 px-8 ">
        <div class=" pb-10 ">
          <img src="{{ url_for('static', filename=data.section_5.classic_2_beds) }}" alt="{{ data.page_title }}" class="mx-auto md:h-96 h-64 rounded  object-cover w-full ">  
        </div>
        <h3 class="text-xl md:text-2xl text-gray font-bold">{{ data.section_5.title2 }}</h3>
        <p class="p-4 md:py-12 lg:text-xl text-lg text-gray">{{ data.section_5.content2 }}</p>
        <a href="/reservations" class="btn__reserve--sm"> {{ data.form_reserva.button_book }}</a> 
      </div>

    </div>

  </div>

{% include 'partials/footer.html' %}