{% include 'partials/header.html' %}

  <!-- section 1 showcase -->
  <div class="showcase font-baries relative ">

    {% include 'partials/navbar.html' %}

    <div class="md:relative min-h-screen flex flex-col w-full  px-4 pt-32 pb-32  text-white space-y-8 ">

      <!-- form -->
      <div class=" absolute top-44 md:top-32 left-1/2 transform -translate-x-1/2  w-96 md:p-2  rounded-2xl bg-primaryLight bg-opacity-80 drop-shadow-md ">
        {% include 'partials/_form.html' %}

      </div>

    </div>
  </div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>


